.options-header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: auto;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
    gap: 5px;
    background: white;
    scrollbar-width: thin;
    scrollbar-color: var(--color_a);

    &::-webkit-scrollbar {
        width: 2px; // Definindo a largura do scrollbar
    }
  
    &::-webkit-scrollbar-track {
        background: transparent; // Cor do track
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color_a); // Cor do thumb
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background-color: var(--color_c); // Cor do thumb ao passar o mouse
    }

    li {
        padding: 10px 20px;
        cursor: pointer;
        margin: 10px;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 20px;
        transition: all 0.3s ease;
        font-size: 18px;
        color: #333;
        list-style: none;

        &:hover {
            font-weight: bold;
            border-right: 1px solid var(--gray-2);
            border-left: 1px solid var(--gray-2);
        }
    }
}


.SaveChanges button {
    position: fixed;
    z-index: 2;
    right: 30px;
    width: 100%;
    max-width: 200px;
    height: 50px;
    bottom: 30px;
    border-bottom: 2px solid var(--gray-2);
    margin-bottom: 1px;
}

gridster {
    padding: 90px 0px 0px !important;
    background-color: var(--color_p) !important;

    .content-gridster {
        position: relative;
        display: flex !important;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .button-holder {
            position: absolute;
            top: 0;
            right: 0;
        }

        .chart {
            padding: 40px;
        }
    }


}

.mat-drawer-container {
    height: 92vh !important;
}

@media screen and (max-width: 500px) {
    .options-header {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .options-header li {
        padding: 0px 20px;
        cursor: pointer;
        margin: 10px;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 20px;
        transition: all 0.3s ease;
        font-size: 18px;
        color: #333;
    }

    .options-header li:hover {
        background-color: #e0e0e0;
        transform: translateY(-3px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    gridster{
        padding: 70px 10px !important; 
    }
}
