

<div class="options-header">
  <button mat-mini-fab (click)="addItem(machineId)" class="add-button cols-2">
    {{ machineList.id }}
  </button>
</div>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <button
        mat-mini-fab
        (mousedown)="removeItem($event, item)"
        (touchstart)="removeItem($event, item)"
      ><mat-icon>delete</mat-icon>
      </button>
      
    </div>
  </gridster-item>
</gridster>