<div *ngIf="unsavedChanges" class="SaveChanges">
  <button mat-raised-button (click)="saveDashboardLayout()">Salvar alterações</button>
</div>
<ul class="options-header">
  <li *ngFor="let machine of machineList" (click)="addItem(machine.name)" class="add-button cols-2">
    {{ machine.name }}
  </li>
</ul>

<!-- <canvas
baseChart
[data]="barChartData"
[options]="barChartOptions"
[type]="barChartType"
(chartHover)="chartHovered($event)"
(chartClick)="chartClicked($event)"
>
</canvas> -->

<gridster [options]="options">
  <gridster-item 
    (click)="unsaveChanges()"
    (touchend)="unsaveChanges()"
    [item]="item" 
    *ngFor="let item of dashboard">
    <div class="content-gridster">
      <div class="button-holder">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu yPosition="above" #menu="matMenu">
          <button mat-menu-item
            (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </div>
      <p>{{ item['key'] }}</p>

      <div *ngIf="isLoadingChart" class="loading-indicator">
        <!-- Aqui você pode adicionar o seu indicador de carregamento -->
        Carregando...
      </div>

      @switch(item['key']){
        @case('nivel'){
          <canvas 
          *ngIf="!isLoadingChart"
          baseChart
          [data]="barChartData_nivel"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          [attr.id]="generateUniqueId(item['key'])"
          style="height: 400px; width: 100%;">
          </canvas>
        }
        @case('pressao'){
          <canvas 
          *ngIf="!isLoadingChart"
          baseChart
          [data]="lineChartData_pressao"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          [attr.id]="generateUniqueId(item['key'])"
          style="height: 400px; width: 100%;">
          </canvas>
        }
        @case('temperatura'){
          <p>Temperatura</p>
        }
        @case('peso'){
          <p>peso</p>
        }
        @default{
          <p>Default</p>
        }
      }

  
  
    </div>
  </gridster-item>
</gridster>