<div class="home-header">
  <button mat-icon-button color="accent" class="menu-button" aria-label="Toggle menu" (click)="sidenav.toggle()">
    <mat-icon>{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
   </button>

  <div class="logo-area">
    <a href="https://focusautomacao.com.br/" target="_blank">
      <img [src]="logoPath" class="desktop" alt="Focus Automação e Sistemas">
      <img [src]="logoPathMobile" class="mobile" alt="Focus Automação e Sistemas">
    </a>
  </div>

  <h1 *ngIf="machineName" ><span><img [src]="statusImg" alt="Status"></span> {{ formatMachineName(machineName) }}</h1> 
  <h1 *ngIf="!machineName" ><span><img [src]="statusImg" alt="Status"></span> Carregando... </h1>
    
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" opened="false">
    <mat-nav-list>
      <ng-container *ngIf="machineList && machineList.length > 0; else noData">
        <mat-list-item *ngFor="let machine of machineList; let i = index" (click)="redirectToHome(this.idClient, machine.id)">
          {{ formatMachineName(machine.name) }}
        </mat-list-item>
      </ng-container>
      <ng-template #noData>
        <mat-list-item>
          Não há dados disponíveis
        </mat-list-item>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<app-loading-overlay></app-loading-overlay>


