// ---------------------------- INDEX
/*  
-- HOME-HEADER











*/

// ---------------------------- HOME-HEADER

.home-header {
    background-color: var(--color_p);
    color: var(--color_a);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    height: 50px;
  
    .logo-area {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 280px;
      padding-right: 40px;
      background-color: var(--color_p);
      border-right: 2px solid var(--gray-2);
    }

    .menu-button{
      position: fixed;
      z-index: 1;
      left: 10px;
      background: none;
      border: none;
      cursor: pointer;
      height: 70px;
      width: 60px;
      padding: 0px;
      left: 0;
      background: var(--color_a);
      color: white;
    }
  
    .logo {
      width: 100px; 
    }
  
    .user-photo {
      position: relative;
      cursor: pointer;
  
      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
  
      .user-dropdown {
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 160px;
  
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
  
        a{
            padding: 12px 0px;
        }
  
        a:hover {
            background: #fafafa;
            width: 100%;
            text-align: center;
        }
      }
  
      &:hover .user-dropdown {
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
  
  }
    
  .sidenav-container {
    height: 100vh;
  }
  
  .mat-sidenav {
    width: 322px;
    background-color: #ffffff;
    border-right: 2px solid var(--gray-2);
    }
  
  